@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* Theme Colours  */
:root {
  --darkest-grey: #24292e;
  --light-grey: #55656c;
  --light-text: #c8c9cb;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  background-color: var(--darkest-grey);
  color: #5b92df;
  display: flex;
  justify-content: center;
}

header h1 {
  color: var(--light-text);
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

footer {
  margin-top: 150px;
  color: var(--light-text);
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(28, 28, 28);
  text-align: center;
  height: 30px;
}

.form .input {
  background-color: #24292e;
  color: var(--light-text);
  font-size: 20px;
  height: 50px;
  width: 350px;
  border: 2px solid var(--light-grey);
  border-radius: 5px;
  padding: 5px;
  margin: 50px;
}

.form .button {
  background-color: #24292e;
  color: var(--light-text);
  height: 35px;
  border: 2px solid var(--light-grey);
  margin-right: 30px;
  border-radius: 5px;
}

.fas-search {
  width: 50px;
}

.results-container {
  border-top-color: #484f58;
}

button span {
  width: 50%;
}
